* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto';
  font-size: 19px;
}

.editor {
  &__container {
    height: calc(100vh - 70px);
    overflow: scroll;
  }

  &__buttonsContainer {
    text-align: right;
    padding-top: 10px;
  }

  &__title {
    margin: 0px;
    margin-top: 3px;
  }
}

.page {
  &__header {
    margin: 0px;
    // text-align: center;
    width: 100%;
  }
}

.footer {
  width: 100%;
  height: 70px;
  background: #395ed5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
}
